<div class="episode">
  <div class="side">
    <div class="number">#<%= post.id %></div>
    <div class="published_at"><%= post.published_at.strftime('%b %d, %Y') %></div>
    <div class ="comments_count"><%= post.user.name %></div>
    <div class = "comments_count"><h2><%= gravatar_for post.user  %> </h2></div>
   
    <div class="comments_count"><%= post.comments_count %> 评论</div>
    
    <div class="actions">
      <% if signed_in? %>
      <% if cookies[:user_id].to_i.eql?(post.user_id ) %>
      <p><%= link_to 'Edit', edit_post_path(post) %></p>
      <p><%= link_to 'Destroy', post, :method => :delete, :confirm => 'Are you sure?' %></p>
      <% end %>  
      <% end %>    
  </div>
   
  </div>
  <div class="main">
    <h2><%= link_to_unless_current h(post.title), post %></h2>
    <div class="description"><%= BlueCloth.new(post.content).to_html %></div>
   <% unless post.tags.empty? %>
      <div class="tags">
        Tags:
        <% for tag in post.tags %>
          <%= link_to h(tag.name), tag %>
        <% end %>        
      </div>
    <% end %>
      
   </div>
   <div class="clear"></div>
 
</div>
