<div class="section">
  <strong>navigation:</strong>
  <ul id="内容导航">
    <li><%= link_to_unless_current "最新博客内容", root_path %></li>
    <li><%= link_to_unless_current "所有博客内容", "#" %></li>
    <li><%= link_to_unless_current "About Huiee","#" %></li>
    <li><%= link_to_unless_current "最新评论", "#" %></li>
    <li><%= link_to_unless_current "Feeds", "# " %></li>
  </ul>
</div>


<div class="section">
  <strong>管理:</strong>
  <ul id="navigation">
    <li><%= link_to_unless_current "New Post", "#" %></li>
    <li><%= link_to_unless_current "Login", "#" %></li>    
    <li><%= link_to "Logout", "#" %></li>
  </ul>
</div>

