<div class="section">
  <strong>内容导航:</strong>
  <ul id="navigation">
    <li><%= link_to_unless_current "最新博客内容", root_path %></li>
    <li><%= link_to_unless_current "所有博客内容", "#" %></li>
    <li><%= link_to_unless_current "About Huiee","#" %></li>
    <li><%= link_to_unless_current "最新评论", comments_path %></li>
    <li><%= link_to_unless_current "Feeds", "# " %></li>
  </ul>
</div>


<div class="section">
  <strong>管理:</strong>
  <ul id="navigation">
  	<li><%= link_to_unless_current "注册", signup_path %> </li>
  	<% if signed_in? %>
    <li><%= link_to_unless_current "创建内容", new_post_path %></li>       
    <li><%= link_to "退出", signout_path %></li>
    <% else %>
    <li><%= link_to_unless_current "登录", signin_path %></li> 
    <% end %>
  </ul>
</div>

