<div class="section">
  <ul id="feeds">
    <li><a href= "http://huiee-blog.heroku.com/posts.rss" ><%= image_tag 'icons/feed.gif', :alt => 'RSS Feed', :size => '16x16' %> RSS Feed</a></li>
    
  </ul>
</div>
<div class = "section">
	<%= link_to_unless_current( "Broadcast", {:controller=>"posts",:action=>"broadcast"}) %>
</div>
<%= render :partial => 'layouts/navigation' %>

<%= render :partial =>'layouts/recentposts'%>

<div class= "section">
	<strong>用户群</strong>
	<% @users = User.find(:all) %>
	<% for user in @users %>
	<h2><%= link_to gravatar_for(user), user %> </h2>
	<% end %>
</div>
<div class="section">
  <strong>标签云:</strong>
  <ul id="tags">
  <% for tag in Tag.find(:all, :order => 'name') %>
    <li><%= link_to h(tag.name), tag_path(tag) %></li>
  <% end %>
  </ul>
</div>

